[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
colorclass = "*"
sphinx = "*"
sphinx_rtd_theme = "*"
typing = {version = "*", markers = "python_version >= '3.0' and python_version < '3.5'"}

[requires]
python_version = "3"
